<!--
  ~           Copyright © 2015,2017, 2021 Stanislav Petriakov
  ~  Distributed under the Boost Software License, Version 1.0.
  ~     (See accompanying file LICENSE_1_0.txt or copy at
  ~           http://www.boost.org/LICENSE_1_0.txt)
  -->

<manifest package="com.keenfin.easypicker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:requestLegacyExternalStorage="true">
        <activity
            android:name=".PreviewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.easypicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
